.frame {
  overflow: hidden;
  border: 1px dashed grey;
  border-radius: 1em;
  width: 12em;
  height: 9em;
}
.pad {
  top: -133%;
  width: 100%;
  position: relative;
}/*
.slide {
}
.slide:first-child {
  opacity: 0.01;
}
.slide:last-child {
  opacity: 0.01;
}*/
