.frame {
  overflow: hidden;
  border: 1px dashed steelblue;
  border-radius: 1em;
  width: 15em;
  height: 9em;
  margin: 1em;
}
.pad {
  top: -133%;
  width: 100%;
  position: relative;
}
.stress {
  font-family: monospace;
  border: 1px dotted grey;
}
body {
  color: darkslategrey;
}
h1 {
  color: indianred;
}
